<%- include('./__header'); %>

<body style="padding-top: 55px">

    <%- include('./__navigation'); %>
	
	<div class="container">
	<div class="row">

        <div class="col-lg-8 offset-lg-2">
        <h4 class="text-center mt-4 mb-4">アカウント設定完了</h4>
            
        <div class="card">
        <div class="card-body">
                
            <p>設定が完了しました。<br>ブラウザを閉じてください。</p>
            
        </div>
        </div>
        </div>

	</div>

    <%- include('./__copyright'); %>

	</div>

</body>
</html>